In [1]:
librispeech_path = 'D:\\Università\\Tesi\\Datasets\\LibriSpeech\\dev-clean\\'

In [2]:
librispeech_path

'D:\\Università\\Tesi\\Datasets\\LibriSpeech\\dev-clean\\'

In [6]:
import pandas
txt_path = 'D:\\Università\\Tesi\\Datasets\\LibriSpeech\\SPEAKERS2.TXT'
df = pandas.read_fwf(txt_path)
df.head()

   ID  |SEX|           SUBSET  |MINUTES|              NAME
0  14  | F |  train-clean-360  | 25.03 |   Kristin LeMoine
1  16  | F |  train-clean-360  | 25.11 |    Alys AtteWater
2  17  | M |  train-clean-360  | 25.04 |    Gord Mackenzie
3  19  | F |  train-clean-100  | 25.19 |  Kara Shallenberg
4  20  | F |  train-other-500  | 30.07 |            Gesine